h1 { 
    color: whitesmoke; 
    font-size: 3rem;
    text-align: center;
    width: 92%;
    font-family: 'Lato', sans-serif;
}

.logout-button {
    height: 5vh;
    justify-self: flex-end;
}

.dash-bar{ 
    background-color: #88B04B;
    display: flex;
    align-items: center;
    width: 100vw;
    margin-bottom: 2%;
}

