* {
  text-align: center;
}

.signUpForm {
  /* display: flex;
  flex-direction: column; */
  width: 70%;
  margin: 0 auto;
}
input {
  width: 100%;
}
label {
  font-size: 1.2rem;
}
.insideFormContainer {
  height: 100%;
  /* display: flex; */
  flex-direction: column;
}
.spacer{
  height: 16px;
}
.submitButton {
  width: 50%;
  padding: 1%;
  background-color: #24f569;
  font-weight: bolder;
  border: 0.1px black;
  border-radius: 5px;
}
.submitButton:hover {
  transition: 0.3s;
  transform: scale(1.02);
}
.submitButton:disabled {
  background-color: #24f56a4d;
  transition: none;
  transform: none;
}
.homeLink {
  width: 50%;
  text-decoration: none;
  color: #3fb8af;
  padding: 3%;
  font-size: 1.1rem;
  margin: 0 auto;
}
.homeLink:hover {
  color: #3fb8b0cb;
}
/* ERRORS CSS  */
.error {
  color: rgb(190, 42, 42);
  height: 20px;
  font-size: 1rem;
  padding-bottom: 0%;
}
.error span {
  width: 100%;
  padding: 0;
}
.title {
  padding-bottom: 4%;
  font-size: 3rem;
}

/* BackGtound stuffa magiger */

.background {
  height: 100vh;
  width: 100vw;
  background-image: url("alberta-2297204_1920.jpg");
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.formContainer {
  position: absolute;
  top: 2% ;
  right: 25%;
  width: 45%;
  height: 90%;
}
